h1 {
    text-align: center;
}

.eaten {
    color:black;
    display: flex;  
    text-align: right;
    margin-left: 70%;
    margin-right: 5%;
}

.notEaten {
    color: white;
    text-align: left;
    display: flex;
    margin-right: 70%;
    margin-left: 5%;
    background-color: black;
    border-radius: 10px;
}

.create-form {
    margin-top: 50px;
    align-content: center;
    text-align: center;
}

body {
    text-align: right;
}

.icon {
    color: black;
    margin-right: 50%;
}

.create-form {
    background-color: black;
    color: white;
}